# Data exploration 

---

Group name: O

---

## Introduction

*This section includes a short description of the data*

## Setup

In [1]:
import pandas as pd
import altair as alt
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

## Data

## Import data

In [10]:
DATAGRADSTUDENTS = "https://raw.githubusercontent.com/FabioRaab/bigData-HW1/main/data/external/grad-students.csv"

### Data structure

In [11]:
df = pd.read_csv(DATAGRADSTUDENTS)
print(df)

df.info()

     Major_code                                       Major  \
0          5601                       CONSTRUCTION SERVICES
1          6004           COMMERCIAL ART AND GRAPHIC DESIGN
2          6211                      HOSPITALITY MANAGEMENT
3          2201      COSMETOLOGY SERVICES AND CULINARY ARTS
4          2001                  COMMUNICATION TECHNOLOGIES
..          ...                                         ...
168        5203                       COUNSELING PSYCHOLOGY
169        5202                         CLINICAL PSYCHOLOGY
170        6106     HEALTH AND MEDICAL PREPARATORY PROGRAMS
171        2303                   SCHOOL STUDENT COUNSELING
172        2301  EDUCATIONAL ADMINISTRATION AND SUPERVISION

                          Major_category  Grad_total  Grad_sample_size  \
0    Industrial Arts & Consumer Services        9173               200
1                                   Arts       53864               882
2                               Business       24417               437
3    Industrial Arts & Consumer Services        5411                72
4                Computers & Mathematics        9109               171
..                                   ...         ...               ...
168             Psychology & Social Work       51812               724
169             Psychology & Social Work       22716               355
170                               Health      114971              1766
171                            Education       19841               260
172                            Education       54159               841

     Grad_employed  Grad_full_time_year_round  Grad_unemployed  \
0             7098                       6511              681
1            40492                      29553             2482
2            18368                      14784             1465
3             3590                       2701              316
4             7512                       5622              466
..             ...                        ...              ...
168          38468                      28808             1420
169          16612                      12022              782
170          78132                      58825             1732
171          11313                       8130              613
172          34142                      26850              582

     Grad_unemployment_rate  Grad_median  ...  Nongrad_total  \
0                  0.087543      75000.0  ...          86062
1                  0.057756      60000.0  ...         461977
2                  0.073867      65000.0  ...         179335
3                  0.080901      47000.0  ...          37575
4                  0.058411      57000.0  ...          53819
..                      ...          ...  ...            ...
168                0.035600      50000.0  ...          16781
169                0.044958      70000.0  ...           6519
170                0.021687     135000.0  ...          26320
171                0.051400      56000.0  ...           2232
172                0.016761      65000.0  ...           4003

     Nongrad_employed  Nongrad_full_time_year_round  Nongrad_unemployed  \
0               73607                         62435                3928
1              347166                        250596               25484
2              145597                        113579                7409
3               29738                         23249                1661
4               43163                         34231                3389
..                ...                           ...                 ...
168             12377                          8502                 835
169              4368                          3033                 357
170             16221                         12185                1012
171              1328                           980                 169
172              3079                          2434                   0

     Nongrad_unemployment_rate  Nongrad_median  Nongrad_P25  Nongrad_P75  \
0                     0.050661         65000.0        47000      98000.0
1                     0.068386         48000.0        34000      71000.0
2                     0.048423         50000.0        35000      75000.0
3                     0.052900         41600.0        29000      60000.0
4                     0.072800         52000.0        36000      78000.0
..                         ...             ...          ...          ...
168                   0.063200         40000.0        25000      50000.0
169                   0.075556         46000.0        30000      70000.0
170                   0.058725         51000.0        35000      87000.0
171                   0.112892         42000.0        27000      51000.0
172                   0.000000         58000.0        45000      79000.0

     Grad_share  Grad_premium
0      0.096320      0.153846
1      0.104420      0.250000
2      0.119837      0.300000
3      0.125878      0.129808
4      0.144753      0.096154
..          ...           ...
168    0.755354      0.250000
169    0.777014      0.521739
170    0.813718      1.647059
171    0.898881      0.333333
172    0.931175      0.120690

[173 rows x 22 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Major_code                    173 non-null    int64
 1   Major                         173 non-null    object
 2   Major_category                173 non-null    object
 3   Grad_total                    173 non-null    int64
 4   Grad_sample_size              173 non-null    int64
 5   Grad_employed                 173 non-null    int64
 6   Grad_full_time_year_round     173 non-null    int64
 7   Grad_unemployed               173 non-null    int64
 8   Grad_unemployment_rate        173 non-null    float64
 9   Grad_median                   173 non-null    float64
 10  Grad_P25                      173 non-null    int64
 11  Grad_P75                      173 non-null    float64
 12  Nongrad_total                 173 non-null    int64
 13  Nongrad_employed              173 non-null    int64
 14  Nongrad_full_time_year_round  173 non-null    int64
 15  Nongrad_unemployed            173 non-null    int64
 16  Nongrad_unemployment_rate     173 non-null    float64
 17  Nongrad_median                173 non-null    float64
 18  Nongrad_P25                   173 non-null    int64
 19  Nongrad_P75                   173 non-null    float64
 20  Grad_share                    173 non-null    float64
 21  Grad_premium                  173 non-null    float64
dtypes: float64(8), int64(12), object(2)
memory usage: 29.9+ KB

### Data corrections

In [47]:
df['Grad_median'] = df['Grad_median'].astype("category")
df['Nongrad_median'] = df['Nongrad_median'].astype("category")

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Major_code                    173 non-null    int64
 1   Major                         173 non-null    object
 2   Major_category                173 non-null    object
 3   Grad_total                    173 non-null    int64
 4   Grad_sample_size              173 non-null    int64
 5   Grad_employed                 173 non-null    int64
 6   Grad_full_time_year_round     173 non-null    int64
 7   Grad_unemployed               173 non-null    category
 8   Grad_unemployment_rate        173 non-null    float64
 9   Grad_median                   173 non-null    category
 10  Grad_P25                      173 non-null    int64
 11  Grad_P75                      173 non-null    float64
 12  Nongrad_total                 173 non-null    int64
 13  Nongrad_employed              173 non-null    int64
 14  Nongrad_full_time_year_round  173 non-null    int64
 15  Nongrad_unemployed            173 non-null    category
 16  Nongrad_unemployment_rate     173 non-null    float64
 17  Nongrad_median                173 non-null    category
 18  Nongrad_P25                   173 non-null    int64
 19  Nongrad_P75                   173 non-null    float64
 20  Grad_share                    173 non-null    float64
 21  Grad_premium                  173 non-null    float64
dtypes: category(4), float64(6), int64(10), object(2)
memory usage: 41.2+ KB

### Variable lists

In [49]:
# make a list of variables you want to use
var_list = ['Grad_median', 'Nongrad_median']

In [50]:
source = df[var_list]

In [51]:
source

    Grad_median Nongrad_median
0       75000.0        65000.0
1       60000.0        48000.0
2       65000.0        50000.0
3       47000.0        41600.0
4       57000.0        52000.0
..          ...            ...
168     50000.0        40000.0
169     70000.0        46000.0
170    135000.0        51000.0
171     56000.0        42000.0
172     65000.0        58000.0

[173 rows x 2 columns]

In [39]:
#Ich möchte die NaN Werte entfernen

#SourceClean =source.dropna(how='all')
#SourceClean

In [46]:
# contingency table for application type and homeownership.
pd.crosstab(df['Grad_median'],    # rows: application_type
            df['Nongrad_median'],    # columns: homeownership
            margins=True)          # with total count

Nongrad_unemployed,0,57,134,144,150,169,184,187,192,238,...,33077,35180,45414,45519,46564,64552,68954,77999,136978,All
Grad_unemployed,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
34,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
44,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
72,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24083,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
25330,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
32089,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
35718,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
All,2,1,1,1,1,1,1,1,1,2,...,1,1,1,1,1,1,1,1,1,173

In [ ]:
chart = alt.Chart(SourceClean).mark_bar().encode(
    x=alt.X('score1',
        sort='-y' ),
    y=alt.Y('count(score1)')
)

In [ ]:
chart

alt.Chart(...)

In [ ]:
chart.properties( 
    title= 'Predicted Score in first halftime',
    width= 500,
    height= 200
)

alt.Chart(...)