# Data exploration 

---

Group name: O

---

## Introduction

*This section includes a short description of the data*

## Setup

In [10]:
import pandas as pd
import altair as alt
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

## Data

## Import data

In [11]:
DATA = "../data/external/nba_elo_latest.csv"

### Data structure

In [12]:
df = pd.read_csv(DATA)
print(df)

df.info()

            date  season  neutral  playoff team1 team2     elo1_pre  \
0     2022-10-18    2023        0      NaN   BOS   PHI  1657.639749
1     2022-10-18    2023        0      NaN   GSW   LAL  1660.620307
2     2022-10-19    2023        0      NaN   IND   WAS  1399.201934
3     2022-10-19    2023        0      NaN   DET   ORL  1393.525172
4     2022-10-19    2023        0      NaN   MEM   NYK  1605.024654
...          ...     ...      ...      ...   ...   ...          ...
1225  2023-04-09    2023        0      NaN   OKC   MEM  1418.664795
1226  2023-04-09    2023        0      NaN   LAL   UTA  1404.345291
1227  2023-04-09    2023        0      NaN   POR   GSW  1426.624444
1228  2023-04-09    2023        0      NaN   PHO   LAC  1596.463751
1229  2023-04-09    2023        0      NaN   DEN   SAC  1560.693716

         elo2_pre  elo_prob1  elo_prob2  ...  carm-elo2_post  raptor1_pre  \
0     1582.247327   0.732950   0.267050  ...             NaN  1693.243079
1     1442.352444   0.862011   0.137989  ...             NaN  1615.718147
2     1440.077372   0.584275   0.415725  ...             NaN  1462.352663
3     1366.089249   0.675590   0.324410  ...             NaN  1308.969909
4     1520.387218   0.743236   0.256764  ...             NaN  1612.012431
...           ...        ...        ...  ...             ...          ...
1225  1595.771902   0.390821   0.609179  ...             NaN  1415.436887
1226  1584.410876   0.386774   0.613226  ...             NaN  1435.337085
1227  1584.512996   0.417454   0.582546  ...             NaN  1511.132536
1228  1487.652094   0.768883   0.231117  ...             NaN  1634.401974
1229  1445.725377   0.775121   0.224879  ...             NaN  1616.571158

      raptor2_pre  raptor_prob1  raptor_prob2  score1  score2  quality  \
0     1641.876729      0.670612      0.329388   126.0   117.0       96
1     1472.173711      0.776502      0.223498   123.0   109.0       67
2     1472.018225      0.599510      0.400490   107.0   114.0       37
3     1349.865183      0.563270      0.436730   113.0   109.0        3
4     1549.908529      0.691851      0.308149   115.0   112.0       80
...           ...           ...           ...     ...     ...      ...
1225  1659.242954      0.280763      0.719237     NaN     NaN       62
1226  1554.643590      0.504294      0.495706     NaN     NaN       47
1227  1594.595788      0.413709      0.586291     NaN     NaN       71
1228  1565.854278      0.754347      0.245653     NaN     NaN       85
1229  1472.788747      0.777983      0.222017     NaN     NaN       68

      importance  total_rating
0             13            55
1             20            44
2             28            33
3              1             2
4             25            53
...          ...           ...
1225          15            39
1226          33            40
1227          93            82
1228          47            66
1229          27            48

[1230 rows x 27 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1230 entries, 0 to 1229
Data columns (total 27 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            1230 non-null   object
 1   season          1230 non-null   int64
 2   neutral         1230 non-null   int64
 3   playoff         0 non-null      float64
 4   team1           1230 non-null   object
 5   team2           1230 non-null   object
 6   elo1_pre        1230 non-null   float64
 7   elo2_pre        1230 non-null   float64
 8   elo_prob1       1230 non-null   float64
 9   elo_prob2       1230 non-null   float64
 10  elo1_post       204 non-null    float64
 11  elo2_post       204 non-null    float64
 12  carm-elo1_pre   0 non-null      float64
 13  carm-elo2_pre   0 non-null      float64
 14  carm-elo_prob1  0 non-null      float64
 15  carm-elo_prob2  0 non-null      float64
 16  carm-elo1_post  0 non-null      float64
 17  carm-elo2_post  0 non-null      float64
 18  raptor1_pre     1230 non-null   float64
 19  raptor2_pre     1230 non-null   float64
 20  raptor_prob1    1230 non-null   float64
 21  raptor_prob2    1230 non-null   float64
 22  score1          204 non-null    float64
 23  score2          204 non-null    float64
 24  quality         1230 non-null   int64
 25  importance      1230 non-null   int64
 26  total_rating    1230 non-null   int64
dtypes: float64(19), int64(5), object(3)
memory usage: 259.6+ KB

### Data corrections

In [13]:
df['score1'] = df['score1'].astype("category")
df['score2'] = df['score2'].astype("category")

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1230 entries, 0 to 1229
Data columns (total 27 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            1230 non-null   object
 1   season          1230 non-null   int64
 2   neutral         1230 non-null   int64
 3   playoff         0 non-null      float64
 4   team1           1230 non-null   object
 5   team2           1230 non-null   object
 6   elo1_pre        1230 non-null   float64
 7   elo2_pre        1230 non-null   float64
 8   elo_prob1       1230 non-null   float64
 9   elo_prob2       1230 non-null   float64
 10  elo1_post       204 non-null    float64
 11  elo2_post       204 non-null    float64
 12  carm-elo1_pre   0 non-null      float64
 13  carm-elo2_pre   0 non-null      float64
 14  carm-elo_prob1  0 non-null      float64
 15  carm-elo_prob2  0 non-null      float64
 16  carm-elo1_post  0 non-null      float64
 17  carm-elo2_post  0 non-null      float64
 18  raptor1_pre     1230 non-null   float64
 19  raptor2_pre     1230 non-null   float64
 20  raptor_prob1    1230 non-null   float64
 21  raptor_prob2    1230 non-null   float64
 22  score1          204 non-null    category
 23  score2          204 non-null    category
 24  quality         1230 non-null   int64
 25  importance      1230 non-null   int64
 26  total_rating    1230 non-null   int64
dtypes: category(2), float64(17), int64(5), object(3)
memory usage: 246.6+ KB

### Variable lists

In [16]:
# make a list of variables you want to use
var_list = ['score1']

In [22]:
source = df[var_list]

In [23]:
source

     score1
0     126.0
1     123.0
2     107.0
3     113.0
4     115.0
...     ...
1225    NaN
1226    NaN
1227    NaN
1228    NaN
1229    NaN

[1230 rows x 1 columns]

In [24]:
#Ich möchte die NaN Werte entfernen

SourceClean =source.dropna(how='all')

In [25]:
SourceClean

    score1
0    126.0
1    123.0
2    107.0
3    113.0
4    115.0
..     ...
199  105.0
200  113.0
201  126.0
202  106.0
203  106.0

[204 rows x 1 columns]

In [ ]:
alt.Chart(source).mark_bar().encode(
    x='homeownership',
    y=alt.Y('count(homeownership)')
)